<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      <%= category.name %>
    </p>
  </header>

  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="subtitle is-6"><%= category.description %></p>
      </div>
    </div>
  </div>
</div>