<div id="app" class="row columns is-multiline">
    <div class="column is-4">
        <a href=<%= list_orders_path %>>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Your Orders
                    </p>
                </header>
            </div>
        </a>
    </div>
    <div class="column is-4">
        <a href="#">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Your Addresses
                    </p>
                </header>
            </div>
        </a>
    </div>
    <div class="column is-4">
        <a href=<%= edit_customer_registration_path %>>
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        Login & security
                    </p>
                </header>
            </div>
        </a>
    </div>
</div>